    @import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');
    body {
        padding-top: 55px;
        background-image:url("../img/leaves.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    h1 {
    padding-top: 0px;
    margin-top: 0px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    margin-bottom: 0px;
    color:#333300;
    
    }
    h2 {
        padding-top: 15px;
        padding-bottom: 0px;
        text-align: center;
    }
    form {
        text-align: center;
        padding: 65px;
        font-size: 1.8em;
    }
    .button {
    background-color: #0033cc;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 45px 2px;
    cursor: pointer;
    }
    #error {
         text-align: center; 
         font-style: italic;
         font-size: 1.2em;
         color:#cc0000;
    }
    footer{
        font-family: "Times New Roman", Georgia, Serif;
        font-size:1em;
        width:600px;
        margin:0 auto;
        padding-top:80px;
        text-align: center;
    }